.textContainer {
    color: white;
    border-top: 0.1px dotted #2CB2C0;
    padding-left: 5px;
}
  
.activeContainer {
    display: flex;
    flex-direction: row;
    color: rgb(255, 47, 47);
    flex-wrap: wrap;
}
  
.activeItem {
    display: flex;
    align-items: center;
    padding-left: 6px;
    color: #fccb06;
}
  
.activeContainer img {
    padding-right: 2px;
}
  
.textContainer h1 {
    margin-bottom: 0px;
} 
  
@media (min-width: 320px) and (max-width: 700px) {

    .textContainer {
        display: none;
    }
}